@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Montserrat&display=swap');

* {
  font-family: 'Montserrat';
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: static;
  height: 14%;
  width: 100%;
  background-color: #181818;
  color: white;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.15);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 86%;
}

.loginDiv {
  width: 70%;
  max-width: 600px;
  height: 50%;
  border: solid black 1px;
  border-radius: 25px;
  margin-top: 50px;
  text-align: center;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.15);
}

.loginInput {
  border: solid #ced4e8 1px;
  outline: none;
  max-width: 400px;
  border-radius: 25px;
  margin-top: 20px;
  padding: 8px;
  width: 80%;
  transition: all ease-in 0.2s;
}

.btnLogin {
  padding: 8px;
  margin-top: 15px;
  border: solid green 1px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #68B984;
  color: white;
  transition: all .5s ease-in-out;
}

.btnLogin:hover {
  transform: scale(1.05);
}

/* --------------------------------- */

.lobbyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 95%;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
}

.titleBlockDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 20%;
  margin: 4px;
  /* border: solid black 1px; */
  border-radius: 10px;
  cursor: pointer;
  background-color: #EEEEEE;
  transition: all .3s ease-in-out;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.15);
}

.titleBlockDiv:hover {
  transform: scale(1.02);
  background-color: #00acb557;
}

/* ----------------------------- */

.nameModalDiv {
  width: auto;
  height: auto;
  padding: 2px;
  margin: 4px;
  border: solid black 1px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

.nameModalDiv:hover {
  background-color: #68B984;
  color: white;
}


/* -------------------------------- */
.blockCodeConrainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 86%;
}

.blockCode {
  width: 70%;
  height: 55%;
  padding: 20px;
  border: solid black 1px;
  border-radius: 8px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.15);
}

.modalSession{
  width: 90%;
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;
}